In [1]:
import pandas as pd
import numpy as np
from pyecharts.charts import Line
from pyecharts import options as opts 
from pyecharts.render.snapshot import make_snapshot
from snapshot_selenium import snapshot

In [2]:
data=pd.read_csv('data/time_series_19-covid-Confirmed_archived_0325.csv')
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [3]:
list(set(data["Country/Region"].values.tolist()))

['Qatar',
 'Rwanda',
 'Guatemala',
 'South Africa',
 'United Kingdom',
 'Ethiopia',
 'Dominican Republic',
 'Antigua and Barbuda',
 'Indonesia',
 'Slovakia',
 'Denmark',
 'Czechia',
 'Zambia',
 'North Macedonia',
 'Holy See',
 'Kuwait',
 'Togo',
 'Greece',
 'Mauritania',
 'Syria',
 'Brunei',
 'Mauritius',
 'Algeria',
 'Mayotte',
 'Haiti',
 'Lebanon',
 'Equatorial Guinea',
 'Poland',
 'Peru',
 'US',
 'Gabon',
 'Malaysia',
 'Gambia, The',
 'Azerbaijan',
 'Estonia',
 'Reunion',
 'Congo (Brazzaville)',
 'Madagascar',
 'Djibouti',
 'Colombia',
 'Venezuela',
 'Saint Vincent and the Grenadines',
 'Greenland',
 'Chad',
 'Australia',
 'Saudi Arabia',
 'United Arab Emirates',
 'Zimbabwe',
 'El Salvador',
 'Afghanistan',
 'Korea, South',
 'Uruguay',
 'Japan',
 'Lithuania',
 'Bulgaria',
 'Timor-Leste',
 'Monaco',
 'Ecuador',
 'Somalia',
 'Argentina',
 'Tanzania',
 'Saint Lucia',
 'Luxembourg',
 'Guam',
 'Netherlands',
 'Cruise Ship',
 'The Bahamas',
 'Senegal',
 'Kosovo',
 'Vietnam',
 'East Timor',
 'Bhutan',
 'Canada',
 'Israel',
 'Nepal',
 'Dominica',
 'The Gambia',
 'Panama',
 'Kyrgyzstan',
 'Andorra',
 'Belarus',
 'Georgia',
 'China',
 'Singapore',
 'Sweden',
 'Brazil',
 'Belgium',
 'Suriname',
 'Sri Lanka',
 'Thailand',
 'Cambodia',
 'Iceland',
 'Honduras',
 'Uganda',
 'Philippines',
 'Jordan',
 'Bangladesh',
 'Congo (Kinshasa)',
 'San Marino',
 'France',
 'Pakistan',
 'Sudan',
 'Martinique',
 'Nicaragua',
 'Germany',
 'Niger',
 'Liberia',
 'Tunisia',
 'Portugal',
 'Burkina Faso',
 'Latvia',
 'Armenia',
 'Albania',
 'Jersey',
 'Norway',
 'Switzerland',
 'Oman',
 'Cyprus',
 'Uzbekistan',
 'Angola',
 'Mexico',
 'Croatia',
 'Egypt',
 'Liechtenstein',
 'Mozambique',
 'Bolivia',
 'Cuba',
 'Seychelles',
 'Central African Republic',
 'India',
 'Guernsey',
 'Finland',
 'Ghana',
 'Bahrain',
 'Chile',
 'Iraq',
 'Slovenia',
 'Romania',
 'Grenada',
 'Spain',
 'Cameroon',
 'Ireland',
 'Maldives',
 'French Guiana',
 'Serbia',
 'Barbados',
 'Taiwan*',
 'Kenya',
 'Paraguay',
 'Morocco',
 'Austria',
 'New Zealand',
 'Iran',
 'Republic of the Congo',
 'Eritrea',
 'Cabo Verde',
 'Ukraine',
 'Bahamas, The',
 'Puerto Rico',
 'Eswatini',
 'Guyana',
 'Cape Verde',
 'Costa Rica',
 'Fiji',
 'Russia',
 'Mongolia',
 "Cote d'Ivoire",
 'Guinea',
 'Montenegro',
 'Nigeria',
 'Kazakhstan',
 'Papua New Guinea',
 'Benin',
 'Malta',
 'Turkey',
 'Bosnia and Herzegovina',
 'Moldova',
 'Guadeloupe',
 'Jamaica',
 'Namibia',
 'Trinidad and Tobago',
 'Italy',
 'Hungary']

# G20国家数据(19个国家)

In [4]:
countrys20=["China","Argentina","Australia","Brazil","Canada", "France", "Germany", 
            "India", "Indonesia", "Italy", "Japan", "Korea, South", "Mexico",
            "Russia","Saudi Arabia", "South Africa", "Turkey","United Kingdom","US"]

In [5]:
index=[True if data['Country/Region'][i] in countrys20 else False for i in range(len(data))]
data=data[index]
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,64,73,103,103,186,231,271,424,424,424.0
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,112,134,171,210,267,307,353,436,533,533.0
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,49,57,71,94,121,121,121,229,296,296.0
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,46,61,68,78,94,144,184,221,221,221.0

In [6]:
data_new=data[[x for x in data.columns if x not in ['Province/State','Lat','Long']]]
data_new.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
1,Japan,2,1,2,2,4,4,7,7,11,...,773,839,825,878,889,924,963,1007,1086,1086.0
5,Canada,0,0,0,0,0,0,1,1,1,...,64,73,103,103,186,231,271,424,424,424.0
6,Australia,0,0,0,0,3,4,4,4,4,...,112,134,171,210,267,307,353,436,533,533.0
7,Australia,0,0,0,0,1,1,1,1,2,...,49,57,71,94,121,121,121,229,296,296.0
8,Australia,0,0,0,0,0,0,0,1,3,...,46,61,68,78,94,144,184,221,221,221.0

In [7]:
data_new=data_new.groupby(by=['Country/Region']).sum().reset_index()
data_new.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Argentina,0,0,0,0,0,0,0,0,0,...,34,45,56,68,79,97,128,158,225,225.0
1,Australia,0,0,0,0,4,5,5,6,9,...,250,297,377,452,568,681,791,1071,1314,1314.0
2,Brazil,0,0,0,0,0,0,0,0,0,...,151,162,200,321,372,621,793,1021,1593,1593.0
3,Canada,0,0,0,0,1,1,2,2,2,...,198,252,415,478,657,800,943,1278,1465,1470.0
4,China,548,643,920,1406,2075,2877,5509,6087,8141,...,80977,81003,81033,81058,81102,81156,81250,81305,81397,81439.0

In [8]:
# 7日均值数据
data_average7=data_new.copy()
data_average7.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Argentina,0,0,0,0,0,0,0,0,0,...,34,45,56,68,79,97,128,158,225,225.0
1,Australia,0,0,0,0,4,5,5,6,9,...,250,297,377,452,568,681,791,1071,1314,1314.0
2,Brazil,0,0,0,0,0,0,0,0,0,...,151,162,200,321,372,621,793,1021,1593,1593.0
3,Canada,0,0,0,0,1,1,2,2,2,...,198,252,415,478,657,800,943,1278,1465,1470.0
4,China,548,643,920,1406,2075,2877,5509,6087,8141,...,80977,81003,81033,81058,81102,81156,81250,81305,81397,81439.0

In [9]:
for i in range(4,len(data_new.columns)-3):
        average=data_new.iloc[:,i-3]
        for j in range(i-2,i+4):
            average=data_new.iloc[:,j]+average
        data_average7.iloc[:,i]=average//7
data_average7

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Argentina,0,0,0,0,0,0,0,0,0,...,38,47,58,72,90,115,140.0,158,225,225.0
1,Australia,0,0,0,2,2,4,5,7,8,...,261,324,403,488,605,750,884.0,1071,1314,1314.0
2,Brazil,0,0,0,0,0,0,0,0,0,...,153,201,282,374,498,703,902.0,1021,1593,1593.0
3,Canada,0,0,0,0,0,1,1,2,2,...,251,330,427,534,689,862,1013.0,1278,1465,1470.0
4,China,548,643,920,1996,2788,3859,5128,6626,8705,...,80981,81007,81039,81082,81129,81185,81243.0,81305,81397,81439.0
5,France,0,0,2,2,2,3,4,4,4,...,4519,5492,6729,8022,9442,11107,12446.0,14431,16176,16044.0
6,Germany,0,0,0,0,1,1,2,3,5,...,4938,6427,8318,10629,13147,15872,18387.0,22213,24873,24873.0
7,India,0,0,0,0,0,0,0,0,0,...,99,112,129,152,185,225,265.0,330,396,396.0
8,Indonesia,0,0,0,0,0,0,0,0,0,...,93,121,160,203,254,311,365.0,450,514,514.0
9,Italy,0,0,0,0,0,0,0,0,0,...,21139,24460,28542,32737,37368,42281,46732.0,53578,59138,59138.0
10,Japan,2,1,2,3,3,5,7,9,12,...,756,792,832,870,903,938,976.0,1007,1086,1086.0
11,"Korea, South",1,1,2,2,2,3,4,6,7,...,8058,8152,8251,8347,8449,8554,8649.0,8799,8897,8897.0
12,Mexico,0,0,0,0,0,0,0,0,0,...,33,45,60,82,107,137,166.0,203,251,251.0
13,Russia,0,0,0,0,0,0,0,0,0,...,59,78,102,132,167,210,250.0,306,367,367.0
14,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,92,113,146,183,224,283,339.0,392,511,511.0
15,South Africa,0,0,0,0,0,0,0,0,0,...,38,52,71,97,126,158,188.0,240,274,274.0
16,Turkey,0,0,0,0,0,0,0,0,0,...,11,25,53,103,198,374,548.0,670,1236,1236.0
17,US,1,1,2,3,3,4,4,5,6,...,3200,4129,5845,8262,11514,15767,19859.0,25489,33272,33276.0
18,United Kingdom,0,0,0,0,0,0,0,0,0,...,1074,1386,1708,2167,2727,3384,3983.0,5067,5741,5741.0

In [10]:
# 累加人数数据
data_sum=data_new.copy()
for i in range(2,len(data_sum.columns)):
    data_sum.iloc[:,i]=data_sum.iloc[:,i]+data_sum.iloc[:,i-1]
data_sum

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Argentina,0,0,0,0,0,0,0,0,0,...,157,202,258,326,405,502,630,788,1013,1238.0
1,Australia,0,0,0,0,4,9,14,20,29,...,1830,2127,2504,2956,3524,4205,4996,6067,7381,8695.0
2,Brazil,0,0,0,0,0,0,0,0,0,...,513,675,875,1196,1568,2189,2982,4003,5596,7189.0
3,Canada,0,0,0,0,1,2,4,6,8,...,1336,1588,2003,2481,3138,3938,4881,6159,7624,9094.0
4,China,548,1191,2111,3517,5592,8469,13978,20065,28206,...,2800426,2881429,2962462,3043520,3124622,3205778,3287028,3368333,3449730,3531169.0
5,France,0,0,2,5,8,11,15,20,25,...,20190,24713,31381,39080,48185,59132,71858,86289,102465,118509.0
6,Germany,0,0,0,0,0,1,5,9,13,...,19196,24991,32263,41520,53847,69167,89015,111228,136101,160974.0
7,India,0,0,0,0,0,0,0,0,1,...,679,792,911,1053,1209,1403,1647,1977,2373,2769.0
8,Indonesia,0,0,0,0,0,0,0,0,0,...,301,418,552,724,951,1262,1631,2081,2595,3109.0
9,Italy,0,0,0,0,0,0,0,0,0,...,118103,142850,170830,202336,238049,279084,326105,379683,438821,497959.0
10,Japan,2,3,5,7,11,15,22,29,40,...,9153,9992,10817,11695,12584,13508,14471,15478,16564,17650.0
11,"Korea, South",1,2,4,6,9,13,17,21,25,...,104758,112920,121156,129476,137889,146454,155106,163905,172802,181699.0
12,Mexico,0,0,0,0,0,0,0,0,0,...,121,162,215,297,390,508,672,875,1126,1377.0
13,Russia,0,0,0,0,0,0,0,0,0,...,307,370,460,574,721,920,1173,1479,1846,2213.0
14,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,319,422,540,711,882,1156,1500,1892,2403,2914.0
15,South Africa,0,0,0,0,0,0,0,0,0,...,108,159,221,283,399,549,751,991,1265,1539.0
16,Turkey,0,0,0,0,0,0,0,0,0,...,12,18,36,83,181,373,732,1402,2638,3874.0
17,US,1,2,4,6,11,16,21,26,31,...,11890,15389,20021,26442,34225,47902,67002,92491,125763,159039.0
18,United Kingdom,0,0,0,0,0,0,0,0,0,...,4788,5933,7484,9444,12086,14802,18816,23883,29624,35365.0

In [11]:
# 绘图函数
def func(data,title):
    x=data_new.columns.to_list()[1:]
    line =Line(init_opts=opts.InitOpts(width="1600px", height="900px",))
    line.add_xaxis(xaxis_data=x)
    for i in range(len(data)):
        country=list(data.iloc[i]).pop(0)
        y=[str(i) for i in list(data.iloc[i])[1:]]
        line.add_yaxis(series_name=country, y_axis=y,symbol='circle',is_smooth = True)
    line.set_global_opts(title_opts=opts.TitleOpts(title=title),
                         legend_opts = opts.LegendOpts(type_="scroll", pos_right="right", orient="vertical"),
                         xaxis_opts=opts.AxisOpts(name='日期'),
                         yaxis_opts=opts.AxisOpts(name='人数')
                        )
    line.set_series_opts(
        label_opts=opts.LabelOpts(is_show=False)
    )
    line.render('data/'+title+'.html')

In [12]:
func(data_new,'各国折线图')

In [13]:
func(data_sum,'各国累加折线图')

In [14]:
func(data_average7,'各国平均折线图')

In [15]:
!pip freeze > requirements.txt

In [16]:
!pip list

Package                            Version
---------------------------------- -------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.10.0
anaconda-project                   0.8.3
argh                               0.26.2
argon2-cffi                        20.1.0
asn1crypto                         1.4.0
astroid                            2.4.2
astropy                            4.0.2
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              20.3.0
autopep8                           1.5.4
Babel                              2.8.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
bcrypt                             3.2.0
beautifulsoup4                     4.9.3
bitarray                           1.6.1
bkcharts                           0.2
bleach                             3.2.1
bokeh                              2.2.3
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
certifi                            2022.6.15.2
cffi                               1.14.3
chardet                            3.0.4
click                              7.1.2
cloudpickle                        1.6.0
clyent                             1.2.2
colorama                           0.4.4
comtypes                           1.1.7
conda                              4.9.2
conda-build                        3.20.5
conda-package-handling             1.7.2
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       3.1.1
cycler                             0.10.0
Cython                             0.29.21
cytoolz                            0.11.0
dask                               2.30.0
decorator                          4.4.2
defusedxml                         0.6.0
diff-match-patch                   20200713
distlib                            0.3.6
distributed                        2.30.1
docutils                           0.16
dukpy                              0.2.3
entrypoints                        0.3
et-xmlfile                         1.0.1
fastcache                          1.1.0
filelock                           3.8.0
flake8                             3.8.4
Flask                              1.1.2
fsspec                             0.8.3
future                             0.18.2
gevent                             20.9.0
glob2                              0.7
greenlet                           0.4.17
h11                                0.13.0
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.1
idna                               2.10
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 2.0.0
iniconfig                          1.1.1
intervaltree                       3.1.0
ipykernel                          5.3.4
ipython                            7.19.0
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              5.6.4
itsdangerous                       1.1.0
javascripthon                      0.12
jdcal                              1.4.1
jedi                               0.17.1
Jinja2                             2.11.2
joblib                             0.17.0
json5                              0.9.5
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.7
jupyter-console                    6.2.0
jupyter-core                       4.6.3
jupyter-echarts-pypkg              0.1.2
jupyterlab                         2.2.6
jupyterlab-pygments                0.1.2
jupyterlab-server                  1.2.0
keyring                            21.4.0
kiwisolver                         1.3.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.9
llvmlite                           0.34.0
lml                                0.0.2
locket                             0.2.0
lxml                               4.6.1
MarkupSafe                         1.1.1
matplotlib                         3.3.2
mccabe                             0.6.1
menuinst                           1.4.16
mistune                            0.8.4
mkl-fft                            1.2.0
mkl-random                         1.1.1
mkl-service                        2.3.0
mock                               4.0.2
more-itertools                     8.6.0
mpmath                             1.1.0
msgpack                            1.0.0
multipledispatch                   0.6.0
navigator-updater                  0.2.1
nbclient                           0.5.1
nbconvert                          6.0.7
nbformat                           5.0.8
nest-asyncio                       1.4.2
networkx                           2.5
nltk                               3.5
nose                               1.3.7
notebook                           6.1.4
numba                              0.51.2
numexpr                            2.7.1
numpy                              1.19.2
numpydoc                           1.1.0
olefile                            0.46
openpyxl                           3.0.5
outcome                            1.2.0
packaging                          20.4
pandas                             1.1.3
pandocfilters                      1.4.3
paramiko                           2.7.2
parso                              0.7.0
partd                              1.1.0
path                               15.0.0
pathlib2                           2.3.5
pathtools                          0.1.2
patsy                              0.5.1
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             8.0.1
pip                                20.2.4
pkginfo                            1.6.1
platformdirs                       2.5.2
pluggy                             0.13.1
ply                                3.11
prettytable                        3.4.1
prometheus-client                  0.8.0
prompt-toolkit                     3.0.8
psutil                             5.7.2
py                                 1.9.0
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.43.0.6
pydocstyle                         5.1.1
pyecharts                          1.9.0
pyecharts-javascripthon            0.0.6
pyecharts-jupyter-installer        0.0.3
pyflakes                           2.2.0
Pygments                           2.7.2
pylint                             2.6.0
PyNaCl                             1.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.7
pyreadline                         2.1
pyrsistent                         0.17.3
PySocks                            1.7.1
pytest                             0.0.0
python-dateutil                    2.8.1
python-jsonrpc-server              0.4.0
python-language-server             0.35.1
pytz                               2020.1
PyWavelets                         1.1.1
pywin32                            227
pywin32-ctypes                     0.2.0
pywinpty                           0.5.7
PyYAML                             5.3.1
pyzmq                              19.0.2
QDarkStyle                         2.8.1
QtAwesome                          1.0.1
qtconsole                          4.7.7
QtPy                               1.9.0
regex                              2020.10.15
requests                           2.24.0
rope                               0.18.0
Rtree                              0.9.4
ruamel-yaml                        0.15.87
scikit-image                       0.17.2
scikit-learn                       0.23.2
scipy                              1.5.2
seaborn                            0.11.0
selenium                           4.4.3
Send2Trash                         1.5.0
setuptools                         50.3.1.post20201107
simplegeneric                      0.8.1
simplejson                         3.17.6
singledispatch                     3.4.0.3
sip                                4.19.13
six                                1.15.0
snapshot-selenium                  0.0.2
sniffio                            1.3.0
snowballstemmer                    2.0.0
sortedcollections                  1.2.1
sortedcontainers                   2.2.2
soupsieve                          2.0.1
Sphinx                             3.2.1
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             1.0.3
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.4
sphinxcontrib-websupport           1.2.4
spyder                             4.1.5
spyder-kernels                     1.9.4
SQLAlchemy                         1.3.20
statsmodels                        0.12.0
sympy                              1.6.2
tables                             3.6.1
tblib                              1.7.0
terminado                          0.9.1
testpath                           0.4.4
threadpoolctl                      2.1.0
tifffile                           2020.10.1
toml                               0.10.1
toolz                              0.11.1
tornado                            6.0.4
tqdm                               4.50.2
traitlets                          5.0.5
trio                               0.21.0
trio-websocket                     0.9.2
typing-extensions                  3.7.4.3

ujson                              4.0.1
unicodecsv                         0.14.1
urllib3                            1.26.12
virtualenv                         20.16.5
watchdog                           0.10.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           1.0.1
wheel                              0.35.1
widgetsnbextension                 3.5.1
win-inet-pton                      1.1.0
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.11.2
wsproto                            1.2.0
xlrd                               1.2.0
XlsxWriter                         1.3.7
xlwings                            0.20.8
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.30.0
zict                               2.0.0
zipp                               3.4.0
zope.event                         4.5.0
zope.interface                     5.1.2